header{
    background-color: rgb(37, 37, 37);
    padding-top: 10px;

}

.iconoMenu{
    margin-left: 20px;
    margin-top: 10px;
}

.navContainer{
    
    
}

.navContainer li{
    list-style: none;
    float: left;
    text-align: center;
    width: 30vw;
    margin-top: -30px;
}

.menu-item a{
    color: aqua;
    text-decoration: none;
    font-size: 30px;
}